<!DOCTYPE html>
<html>
<head>
    <title>Prediction Season</title>
</head>
<body>
    <h2>Определение времени года</h2>
    <input type="file" id="file" accept="image/*">
    <br><br>
    <button onclick="send()">Предсказать</button>
    <p id="result"></p>
    <p id="confidence"></p>
    <img id="preview"
         src=""
         style="max-width:300px; display:none; margin-top:10px;">

    <hr>
    <h3>Тест на всем тестовом датасёте</h3>
    <button onclick="testDataset()">Построить матрицу ошибок</button>
    <p id="dataset_accuracy"></p>
    <img id="cm_preview" src=""
         style="max-width:500px; display:none; margin-top:10px;" />

    <script>
        async function send() {
            const fileInput = document.getElementById("file");

            if (!fileInput.files[0]) {
                alert("Выберите файл");
                return;
            }

            const formData = new FormData();
            formData.append("file", fileInput.files[0]);

            const response = await fetch("/predict", {
                method: "POST",
                body: formData
            });

            const data = await response.json();

            document.getElementById("result").innerText =
                "Время года: " + data.season;

            document.getElementById("confidence").innerText =
                "Уверенность: " + (data.probability * 100).toFixed(2) + "%";

            const reader = new FileReader();
            reader.onload = function(e) {
                const preview = document.getElementById("preview");
                preview.src = e.target.result;
                preview.style.display = "block";
            };
            reader.readAsDataURL(fileInput.files[0]);
        }

        async function testDataset() {
            const response = await fetch("/test_dataset");
            const data = await response.json();

            document.getElementById("dataset_accuracy").innerText =
                "Accuracy на тестовом датасёте: " + (data.accuracy * 100).toFixed(2) + "%";
                
            const cmImg = document.getElementById("cm_preview");
            cmImg.src = "data:image/png;base64," + data.cm_image;
            cmImg.style.display = "block";
        }
    </script>
</body>
</html>
